{% extends "base1.html" %}
{% block content %}
    <section id="about" class="about" style="margin-top: -5%;">
        <div class="container1" data-aos="fade-up">
            <div class="section-title" style="margin-top: 15%; margin-left: -15%;">
                <h2>Reset Password<span class="bi bi-unlock-fill"></span></h2>
            </div>
            {% if validlink %}
                <p>Please enter your new password twice:</p>
                <form action="." method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-75">
                            <div>{{ form }}</div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="signup">
                            <input type="submit" class="btn btn-lg btn-success" value="Change password">

                        </div>
                    </div>
                </form>
            {% else %}
                <p>The password reset link was invalid, possibly because it has
                    already been used. Please request a new password reset.</p>
            {% endif %}
        </div>
    </section>
{% endblock %}