{% extends "base1.html" %}
{% block content %}
    <section id="about" class="about" style="margin-top: -5%;">
        <div class="container1" data-aos="fade-up">
            <div class="section-title" style="margin-top: 15%; margin-left: -15%;">
                <h2>Reset Password<span class="bi bi-unlock-fill"></span></h2>
            </div>
            <div style="margin-left: 20%"><h4>Forgotten your password?</h4>
                <p>Enter your e-mail address to obtain a new password.</p></div>
            <form action="." method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-25">
                        <label for="email">Email:</label>
                    </div>
                    <div class="col-75">
                        <div id="email">{{ form.email }}</div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="signup">
                        <input type="submit" class="btn btn-lg btn-success" value="Send e-mail">
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}