{% extends "base1.html" %}
{% block content %}
    <section id="about" class="about" style="margin-top: -5%;">
        <div class="container1" data-aos="fade-up">
            <div class="section-title" style="margin-top: 15%; margin-left: -10%;">
                <h2>Password Set<span class="bi bi-unlock-fill"></span></h2>
            </div>
            <p>Your password has been set. You can <a href="{% url "login" %}" class="btn btn-success" role="button">log
                in now</a>
            </p>
        </div>
    </section>
{% endblock %}