{% extends "base1.html" %}
{% block content%}
    <section id="about" class="about" style="margin-top: -5%;">
        <div class="container1" data-aos="fade-up">
            <div class="section-title" style="margin-top: 20%; margin-left: -15%;">
                <h2>Reset Password<span class="bi bi-unlock-fill"></span></h2>
            </div>
            <p>We've emailed you instructions for setting your password.</p>
            <p>If you don't receive an email, please make sure you've entered the
                address you registered with.</p>
        </div>
    </section>
{% endblock %}
